body {
    background-color: #0E0F13;
}

.logo-text {
    color: white;
}

.nav-item a {
    color: white;
}

.sign-in,
.sign-up,
.switch {
    border-color: #5e5e5e;
}

.sign-in {
    background-color: gray;
    color: white;
}

.sign-up {
    background-color: darkblue;
}

.switch {
    background-color: darkmagenta;
    color: white;
}


.big-text {
    color: white;
}

.card {
    background-color: #5e5e5e;
}

.card-small-text {
    color: white;
}

.best-card {
    background-color: darkblue;
}