* {
    margin: 0px;
    padding: 0px;
    font-family: Inter;
}

/*
 navigation menu
*/
.wrapper {
    width: 1440px;
    margin: 40px auto 145px;
}

.logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 18px;
}

.logo-text {
    text-decoration: none;
    color: #0E0F13;
    font-size: 30px;
    font-weight: 400;
    line-height: 125%;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-menu {
    display: flex;
    gap: 65px;
    list-style: none;
}

.nav-item a {
    text-decoration: none;
    color: #0E0F13;
    font-size: 20px;
    font-weight: 400;
    line-height: 125%;
}

.important {
    color: #425DF8;
}
/*
Кнопка зміни теми
*/

.switch {
    background-color: violet;
}

.sign-in,
.sign-up,
.switch {
    padding: 16px 24px;
    font-weight: 400;
    border-radius: 8px;
    border: 2px solid #DADADA;
    box-sizing: border-box;
}

.sign-up {
    background-color: #425DF8;
    color: #fff;
}

.sign-in {
    background-color: #fff;
}

/*
main page
*/
main {
    display: flex;
    justify-content: center;
}

.main-page {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 120px;
}

.card-text {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.big-text {
    color: #0E0F13;
    font-size: 64px;
    font-weight: 500;
    line-height: 100%;
}

.small-text {
    color: #7F828A;
    font-size: 22px;
    font-weight: 400;
    line-height: 100%;
    align-self: center;
}

.cards {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 24px;
}

.card {
    display: flex;
    padding: 56px;
    height: 750px;
    width: 416px;
    flex-direction: column;
    align-items: center;
    border-radius: 24px;
    border: 1px solid #DADADA;
    background: #FDFDFD;
    gap: 24px;
    box-sizing: border-box;

}

.card span {
    font-weight: 700;
}

.best-card {
    display: flex;
    width: 416px;
    height: 817px;
    padding: 56px;
    flex-direction: column;
    align-items: center;
    border-radius: 24px;
    border: 1px solid #161A34;
    background: #161A34;

}

.best-card span {
    color: white;
    font-weight: 700px;
}

.card-big-text {
    color: #0E0F15;
    text-align: center;
    font-size: 30px;
    font-weight: 500;
    line-height: 125%;
}

.card-small-text {
    color: #7F828A;
    text-align: center;
    font-size: 22px;
    font-weight: 400;
    line-height: 125%;
}

.services {
    display: flex;
    width: 304px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;

}

.list-item {
    display: flex;
    justify-content: center;
    gap: 22px;
}

.start-button {
    display: flex;
    padding: 18px 22px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 8px;
    border: 1px solid #425DF8;
    background: #425DF8;
    color: white;
    font-weight: 400;
    margin-top: 125px;
}

.mail {
    display: flex;
    padding: 18px 22px;
    align-items: flex-start;
    margin-top: 125px;
    border-radius: 8px;
    border: 1px solid #425DF8;
    background: #425DF8;
    text-decoration: none;
    color: white;
}

footer {
    margin: 200px auto 20px;
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1440px;
}

.bottom-logo {
    display: flex;
    align-items: center;
    font-weight: 400;
    gap: 22px;
}

.bottom-logo-text {
    color: #7F828A;
    font-size: 18px;
    font-weight: 400;
    line-height: 150%;
}

.footer-text {
    color: #7F828A;
    font-size: 18px;
    font-weight: 400;
    line-height: 150%;
}